<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
        <script src="/js/dashBoard.js"></script>
    </head>
    <body>
        <div id="bodyContainer" style="display: none">
            <%- include('header.html') %>
        <a href="/cashierPage" id="backCashier">Back To Cashier Page</a>
        <a href="/addAdminCashier" id="addAdminCashier">Add an Admin/Cashier</a>
        </div>
    </body>
</html>